{% extends "parent.html" %}

{% block title %}
Главная
{% endblock %}

{% block body %}
<h1>Добро пожаловать. Снова.</h1><br>
<br>
    <form method="get">
    <input id="q" name="q" type="text" placeholder="Ваш поиск...">
    <button type="submit" class="btn btn-primary">Найти!</button>
</form>
    <br>

{% for item in posts %}
    <br>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h2 class="display-4">{{ item.title }}</h2>
          <p class="lead">{{ item.description }}</p>
          <p style="font-size: 8px; color:gray;">Добавлено {{ item.user }}  {{ item.datetime }} </p>
          <p style="text-align: right"><a href='/video/{{ item.id }}'>Посмотреть видео</a></p>
            <h3 class="genre">Жанр: {{ item.genre }}</h3>
        </div>


</div>
{% endfor %}
{% endblock %}