{% extends "parent.html" %}

{% block title %}
Видео -
{% endblock %}


{% block body %}

<h2>{{ video.title }}</h2>

<video width="320" height="240" controls>
    <source src="{{ video.path }}" type="video/mp4">
  Your browser does not support the video tag.
  </video>
    <br>
    Просмотры: {{ video.views }}
<p>{{ video.description }}</p>

<br><br>
<h3>Комментарии</h3>

{% if form %}
<form action="/comment/" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type='hidden' name='video' value='{{ video.id }}'>
    <br>
    <button type="submit" class="btn btn-primary">Добавить комментарий!</button>
</form>
{% endif %}

{% for comment in comments %}
<p>
{{ comment.user }} добавлен: {{ comment.datetime }} <br>
{{ comment.text }}
</p>
{% endfor %}


{% endblock %}